In [6]:
#importo las librerias necesarias

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.datasets import make_regression
from sklearn.neighbors import KNeighborsRegressor

from sklearn.metrics import mean_squared_error

In [7]:
#cargo el dataset de training y el de test

df_training = pd.read_csv('./../data/training_one_hot_no_cities_operations_result_data.csv')
df_test = pd.read_csv('./../data/diamonds_test_one_hot_no_cities_operations_result_data.csv')
df_training

,price,carat,depth,table,x,y,z,cut/weight_Fair,cut/weight_Good,cut/weight_Ideal,...,color/weight_I,color/weight_J,clarity/weight_I1,clarity/weight_IF,clarity/weight_SI1,clarity/weight_SI2,clarity/weight_VS1,clarity/weight_VS2,clarity/weight_VVS1,clarity/weight_VVS2
0,4268.00,1.21,62.4,58.0,6.83,6.79,4.25,0.0,0.0,0.000000,...,0.000000,0.826446,0.0,0.0,0.000000,0.000000,0.000000,0.826446,0.0,0.0
1,3513.00,1.02,61.6,58.0,6.40,6.35,3.93,0.0,0.0,0.000000,...,0.000000,0.980392,0.0,0.0,0.000000,0.000000,0.000000,0.980392,0.0,0.0
2,1792.00,0.77,62.3,58.0,5.86,5.80,3.63,0.0,0.0,0.000000,...,0.000000,1.298701,0.0,0.0,0.000000,0.000000,0.000000,1.298701,0.0,0.0
3,7553.00,1.51,59.6,60.0,7.58,7.48,4.49,0.0,0.0,0.000000,...,0.000000,0.662252,0.0,0.0,0.000000,0.000000,0.000000,0.662252,0.0,0.0
4,1176.00,0.57,60.2,62.0,5.40,5.33,3.23,0.0,0.0,0.000000,...,0.000000,1.754386,0.0,0.0,0.000000,0.000000,0.000000,1.754386,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,1976.56,0.57,61.9,56.0,5.35,5.32,3.30,0.0,0.0,1.754386,...,0.000000,0.000000,0.0,0.0,1.754386,0.000000,0.000000,0.000000,0.0,0.0
53936,2331.41,0.71,62.2,55.0,5.71,5.73,3.56,0.0,0.0,1.408451,...,1.408451,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.408451,0.0,0.0
53937,2910.38,0.70,61.6,55.0,5.75,5.71,3.53,0.0,0.0,1.428571,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.428571,0.000000,0.0,0.0
53938,2113.32,0.70,58.8,57.0,5.85,5.89,3.45,0.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,1.428571,0.000000,0.000000,0.0,0.0
53939,824.77,0.40,62.4,55.0,4.70,4.73,2.94,0.0,0.0,2.500000,...,2.500000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,2.5

In [8]:
# Features + target

X = df_training[['carat',
                    'depth',
                    'table',
                    'x',
                    'y',
                    'z',
                    'cut/weight_Fair',
                    'cut/weight_Good',
                    'cut/weight_Ideal',
                    'cut/weight_Premium',
                    'cut/weight_Very Good',
                    'color/weight_D',
                    'color/weight_E',
                    'color/weight_F',
                    'color/weight_G',
                    'color/weight_H',
                    'color/weight_I',
                    'color/weight_J',
                    'clarity/weight_I1',
                    'clarity/weight_IF',
                    'clarity/weight_SI1',
                    'clarity/weight_SI2',
                    'clarity/weight_VS1',
                    'clarity/weight_VS2',
                    'clarity/weight_VVS1',
                    'clarity/weight_VVS2']]
y = pd.get_dummies(df_training[['price']], drop_first=True)
print(X.shape,y.shape)

(53940, 26) (53940, 1)

In [9]:
# Train + test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
# Scaling - StandardScaler
scaler = RobustScaler()
scaled_data = scaler.fit_transform(X_train)
scaled_data_test = scaler.transform(X_test)
scaled_data_test

array([[-0.3125    ,  0.46666667,  0.66666667, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.5625    ,  0.33333333,  0.33333333, ...,  0.        ,
         0.        ,  0.        ],
       [ 2.34375   , -0.13333333,  0.        , ...,  0.45454545,
         0.        ,  0.        ],
       ...,
       [ 1.25      ,  0.53333333, -0.33333333, ...,  0.66666667,
         0.        ,  0.        ],
       [ 0.78125   ,  1.46666667,  1.33333333, ...,  0.        ,
         0.        ,  0.        ],
       [-0.46875   , -1.26666667,  1.        , ...,  0.        ,
         0.        ,  0.        ]])

In [11]:
regressor =  KNeighborsRegressor()

In [12]:
hyperparameters = regressor.get_params()
model = regressor.fit(X_train, y_train.values.ravel())

In [13]:
y_pred = model.predict(X_test)

print('Model:', regressor, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
#print('Ground truth target:', y_test, '\n')
print('Predicted target:', y_pred, '\n')

Model: KNeighborsRegressor()

Model hyperparameters: {'algorithm': 'auto', 'leaf_size': 30, 'metric': 'minkowski', 'metric_params': None, 'n_jobs': None, 'n_neighbors': 5, 'p': 2, 'weights': 'uniform'}

Predicted target: [ 1348.304 12315.732 15441.2   ... 10953.082  4552.888   772.8  ]

In [14]:
y_pred.shape

(10788,)

In [15]:
type(y_pred)

numpy.ndarray

In [16]:
r2_ = model.score(X_test, y_test)
r2_

0.9459016266721954

In [17]:
y_test = model.predict(df_test)

In [18]:
df_pred = pd.DataFrame(data=y_test)
df_pred

                  0
0       3130.058000
1       5578.938000
2      10142.284000
3       4228.892000
4       1709.164000
...             ...
13480   1720.238000
13481   2581.826000
13482   3226.876000
13483   2304.919333
13484    871.154000

[13485 rows x 1 columns]

In [19]:
df_pred = df_pred.reset_index()
df_pred

       index             0
0          0   3130.058000
1          1   5578.938000
2          2  10142.284000
3          3   4228.892000
4          4   1709.164000
...      ...           ...
13480  13480   1720.238000
13481  13481   2581.826000
13482  13482   3226.876000
13483  13483   2304.919333
13484  13484    871.154000

[13485 rows x 2 columns]

In [20]:
df_rename = df_pred.rename(columns={"index": "id", "o": "price"})
df_rename

          id             0
0          0   3130.058000
1          1   5578.938000
2          2  10142.284000
3          3   4228.892000
4          4   1709.164000
...      ...           ...
13480  13480   1720.238000
13481  13481   2581.826000
13482  13482   3226.876000
13483  13483   2304.919333
13484  13484    871.154000

[13485 rows x 2 columns]

In [21]:
final_prediction = df_rename.rename(columns={df_rename.columns[1]: "price" })
final_prediction

          id         price
0          0   3130.058000
1          1   5578.938000
2          2  10142.284000
3          3   4228.892000
4          4   1709.164000
...      ...           ...
13480  13480   1720.238000
13481  13481   2581.826000
13482  13482   3226.876000
13483  13483   2304.919333
13484  13484    871.154000

[13485 rows x 2 columns]

In [22]:
export = final_prediction.to_csv('./../data/prediction_neighbors.csv', index=False)