In [9]:
#importo las librerias necesarias

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_regression

from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error

In [2]:
#cargo el dataset de training y el de test

df_training = pd.read_csv('./../data/training_one_hot_no_cities.csv')
df_test = pd.read_csv('./../data/diamonds_test_one_hot_no_cities.csv')
df_training

,price,carat,depth,table,x,y,z,clarity_I1,clarity_IF,clarity_SI1,...,color_F,color_G,color_H,color_I,color_J,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,4268,1.21,62.4,58.0,6.83,6.79,4.25,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,3513,1.02,61.6,58.0,6.40,6.35,3.93,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1792,0.77,62.3,58.0,5.86,5.80,3.63,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,7553,1.51,59.6,60.0,7.58,7.48,4.49,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,1176,0.57,60.2,62.0,5.40,5.33,3.23,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,1019,0.57,59.5,57.0,5.46,5.42,3.24,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40451,6096,1.44,63.2,55.0,7.21,7.18,4.54,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40452,3459,1.02,61.2,56.0,6.47,6.50,3.97,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40453,4428,1.28,61.6,57.0,6.93,6.96,4.28,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40454,6299,1.54,61.6,55.0,7.43,7.40,4.57,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [3]:
# Features + target

X = df_training[['carat',
                    'depth',
                    'table',
                    'x',
                    'y',
                    'z',
                    'clarity_I1',
                    'clarity_IF',
                    'clarity_SI1',
                    'clarity_SI2',
                    'clarity_VS1',
                    'clarity_VS2',
                    'clarity_VVS1',
                    'clarity_VVS2',
                    'color_D',
                    'color_E',
                    'color_F',
                    'color_G',
                    'color_H',
                    'color_I',
                    'color_J',
                    'cut_Fair',
                    'cut_Good',
                    'cut_Ideal',
                    'cut_Premium',
                    'cut_Very Good']]
y = pd.get_dummies(df_training[['price']], drop_first=True)
print(X.shape,y.shape)

(40455, 26) (40455, 1)

In [4]:
# Train + test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
# Scaling - StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X_train)
scaled_data_test = scaler.transform(X_test)
scaled_data_test

array([[ 0.44675086,  0.7281952 ,  0.24636806, ..., -0.81588703,
        -0.58082301,  1.84804753],
       [ 0.44675086,  0.79790014, -0.19907889, ..., -0.81588703,
        -0.58082301,  1.84804753],
       [-1.04622436, -0.94472332,  0.69181501, ..., -0.81588703,
         1.72169487, -0.54111162],
       ...,
       [-0.60464014,  1.21612977, -0.64452584, ..., -0.81588703,
        -0.58082301,  1.84804753],
       [ 1.5401975 ,  0.10085075, -0.19907889, ...,  1.22565988,
        -0.58082301, -0.54111162],
       [-0.94108526, -0.10826406, -0.64452584, ...,  1.22565988,
        -0.58082301, -0.54111162]])

In [ ]:
regressor =  XGBRegressor()

In [10]:
hyperparameters = regressor.get_params()
model = regressor.fit(X_train, y_train.values.ravel())

In [11]:
y_pred = model.predict(X_test)

print('Model:', regressor, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
#print('Ground truth target:', y_test, '\n')
print('Predicted target:', y_pred, '\n')

Model: XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

Model hyperparameters: {'objective': 'reg:squarederror', 'base_score': None, 'booster': None, 'callbacks': None, 'colsample_bylevel': None, 'colsample_bynode': None, 'colsample_bytree': None, 'early_stopping_rounds': None, 'enable_categorical': False, 'eval_metric': None, 'feature_types': None, 'gamma': None, 'gpu_id': None, 'grow_policy': None, 'importance_type': None, 'interaction_constraints': None, 'learning_rate': None, 'max_bin': None, 'max_cat_threshold': None, 'max_cat_to_onehot': None, 'max_delta_step': None, 'max_depth': None, 'max_leaves': None, 'min_child_weight': None, 'missing': nan, 'monotone_constraints': None, 'n_estimators': 100, 'n_jobs': None, 'num_parallel_tree': None, 'predictor': None, 'random_state': None, 'reg_alpha': None, 'reg_lambda': None, 'sampling_method': None, 'scale_pos_weight': None, 'subsample': None, 'tree_method': None, 'validate_parameters': None, 'verbosity': None}

Predicted target: [ 4555.4976   9239.5625    815.38116 ...  1653.5096  12816.178
   730.24146]

In [12]:
y_pred.shape

(8091,)

In [13]:
type(y_pred)

numpy.ndarray

In [14]:
r2_ = model.score(X_test, y_test)
r2_

0.9807796598784668

In [15]:
y_test = model.predict(df_test)

In [16]:
df_pred = pd.DataFrame(data=y_test)
df_pred

                 0
0      2930.083252
1      5631.495117
2      9023.599609
3      4020.204834
4      1708.237305
...            ...
13480  1625.728760
13481  2475.835693
13482  3072.642334
13483  2112.419922
13484   869.356323

[13485 rows x 1 columns]

In [17]:
df_pred = df_pred.reset_index()
df_pred

       index            0
0          0  2930.083252
1          1  5631.495117
2          2  9023.599609
3          3  4020.204834
4          4  1708.237305
...      ...          ...
13480  13480  1625.728760
13481  13481  2475.835693
13482  13482  3072.642334
13483  13483  2112.419922
13484  13484   869.356323

[13485 rows x 2 columns]

In [18]:
df_rename = df_pred.rename(columns={"index": "id", "o": "price"})
df_rename

          id            0
0          0  2930.083252
1          1  5631.495117
2          2  9023.599609
3          3  4020.204834
4          4  1708.237305
...      ...          ...
13480  13480  1625.728760
13481  13481  2475.835693
13482  13482  3072.642334
13483  13483  2112.419922
13484  13484   869.356323

[13485 rows x 2 columns]

In [19]:
final_prediction = df_rename.rename(columns={df_rename.columns[1]: "price" })
final_prediction

          id        price
0          0  2930.083252
1          1  5631.495117
2          2  9023.599609
3          3  4020.204834
4          4  1708.237305
...      ...          ...
13480  13480  1625.728760
13481  13481  2475.835693
13482  13482  3072.642334
13483  13483  2112.419922
13484  13484   869.356323

[13485 rows x 2 columns]

In [20]:
export = final_prediction.to_csv('./data/one_hot_standard_xgb_no_cities.csv', index=False)

In [21]:
pd.read_csv('./data/one_hot_standard_xgb_no_cities.csv').head()

   id      price
0   0  2930.0833
1   1  5631.4950
2   2  9023.6000
3   3  4020.2048
4   4  1708.2373