In [1]:
#Lourdes 19/06 - de momento el mejor modelo

#importo las librerias necesarias

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.datasets import make_regression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error

In [2]:
#cargo el dataset de training y el de test

df_training = pd.read_csv('./../data/training_one_hot_no_cities_operations.csv')
df_test = pd.read_csv('./../data/diamonds_test_one_hot_no_cities_operations.csv')
df_training

,price,carat,depth,table,x,y,z,cut/weight_Fair,cut/weight_Good,cut/weight_Ideal,...,color/weight_I,color/weight_J,clarity/weight_I1,clarity/weight_IF,clarity/weight_SI1,clarity/weight_SI2,clarity/weight_VS1,clarity/weight_VS2,clarity/weight_VVS1,clarity/weight_VVS2
0,4268,1.21,62.4,58.0,6.83,6.79,4.25,0.0,0.0,0.000000,...,0.0,0.826446,0.000000,0.0,0.0,0.0,0.0,0.826446,0.0,0.0
1,3513,1.02,61.6,58.0,6.40,6.35,3.93,0.0,0.0,0.000000,...,0.0,0.980392,0.000000,0.0,0.0,0.0,0.0,0.980392,0.0,0.0
2,1792,0.77,62.3,58.0,5.86,5.80,3.63,0.0,0.0,0.000000,...,0.0,1.298701,0.000000,0.0,0.0,0.0,0.0,1.298701,0.0,0.0
3,7553,1.51,59.6,60.0,7.58,7.48,4.49,0.0,0.0,0.000000,...,0.0,0.662252,0.000000,0.0,0.0,0.0,0.0,0.662252,0.0,0.0
4,1176,0.57,60.2,62.0,5.40,5.33,3.23,0.0,0.0,0.000000,...,0.0,1.754386,0.000000,0.0,0.0,0.0,0.0,1.754386,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,1019,0.57,59.5,57.0,5.46,5.42,3.24,0.0,0.0,1.754386,...,0.0,0.000000,1.754386,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
40451,6096,1.44,63.2,55.0,7.21,7.18,4.54,0.0,0.0,0.694444,...,0.0,0.000000,0.694444,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
40452,3459,1.02,61.2,56.0,6.47,6.50,3.97,0.0,0.0,0.980392,...,0.0,0.000000,0.980392,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
40453,4428,1.28,61.6,57.0,6.93,6.96,4.28,0.0,0.0,0.781250,...,0.0,0.000000,0.781250,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
40454,6299,1.54,61.6,55.0,7.43,7.40,4.57,0.0,0.0,0.649351,...,0.0,0.000000,0.649351,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [3]:
# Features + target

X = df_training[['carat',
                    'depth',
                    'table',
                    'x',
                    'y',
                    'z',
                    'cut/weight_Fair',
                    'cut/weight_Good',
                    'cut/weight_Ideal',
                    'cut/weight_Premium',
                    'cut/weight_Very Good',
                    'color/weight_D',
                    'color/weight_E',
                    'color/weight_F',
                    'color/weight_G',
                    'color/weight_H',
                    'color/weight_I',
                    'color/weight_J',
                    'clarity/weight_I1',
                    'clarity/weight_IF',
                    'clarity/weight_SI1',
                    'clarity/weight_SI2',
                    'clarity/weight_VS1',
                    'clarity/weight_VS2',
                    'clarity/weight_VVS1',
                    'clarity/weight_VVS2']]
y = pd.get_dummies(df_training[['price']], drop_first=True)
print(X.shape,y.shape)

(40455, 26) (40455, 1)

In [4]:
# Train + test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
# Scaling - StandardScaler
scaler = RobustScaler()
scaled_data = scaler.fit_transform(X_train)
scaled_data_test = scaler.transform(X_test)
scaled_data_test

array([[ 0.484375  ,  0.66666667,  0.33333333, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.484375  ,  0.73333333,  0.        , ...,  0.        ,
         0.99009901,  0.        ],
       [-0.625     , -0.93333333,  0.66666667, ...,  3.33333333,
         0.        ,  0.        ],
       ...,
       [-0.296875  ,  1.13333333, -0.33333333, ...,  1.96078431,
         0.        ,  0.        ],
       [ 1.296875  ,  0.06666667,  0.        , ...,  0.        ,
         0.        ,  0.65359477],
       [-0.546875  , -0.13333333, -0.33333333, ...,  0.        ,
         0.        ,  0.        ]])

In [6]:
regressor =  RandomForestRegressor()

In [7]:
hyperparameters = regressor.get_params()
model = regressor.fit(X_train, y_train.values.ravel())

In [8]:
y_pred = model.predict(X_test)

print('Model:', regressor, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
#print('Ground truth target:', y_test, '\n')
print('Predicted target:', y_pred, '\n')

Model: RandomForestRegressor()

Model hyperparameters: {'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 1.0, 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}

Predicted target: [ 4597.05  8967.02   893.71 ...  1747.76 13173.24   629.26]

In [9]:
y_pred.shape

(8091,)

In [12]:
type(y_pred)

numpy.ndarray

In [13]:
r2_ = model.score(X_test, y_test)
r2_

0.9814138960025599

In [14]:
y_test = model.predict(df_test)

In [15]:
df_pred = pd.DataFrame(data=y_test)
df_pred

             0
0      3072.29
1      5386.83
2      9603.06
3      4231.37
4      1727.85
...        ...
13480  1976.56
13481  2331.41
13482  2910.38
13483  2113.32
13484   824.77

[13485 rows x 1 columns]

In [16]:
df_pred = df_pred.reset_index()
df_pred

       index        0
0          0  3072.29
1          1  5386.83
2          2  9603.06
3          3  4231.37
4          4  1727.85
...      ...      ...
13480  13480  1976.56
13481  13481  2331.41
13482  13482  2910.38
13483  13483  2113.32
13484  13484   824.77

[13485 rows x 2 columns]

In [17]:
df_rename = df_pred.rename(columns={"index": "id", "o": "price"})
df_rename

          id        0
0          0  3072.29
1          1  5386.83
2          2  9603.06
3          3  4231.37
4          4  1727.85
...      ...      ...
13480  13480  1976.56
13481  13481  2331.41
13482  13482  2910.38
13483  13483  2113.32
13484  13484   824.77

[13485 rows x 2 columns]

In [18]:
final_prediction = df_rename.rename(columns={df_rename.columns[1]: "price" })
final_prediction

          id    price
0          0  3072.29
1          1  5386.83
2          2  9603.06
3          3  4231.37
4          4  1727.85
...      ...      ...
13480  13480  1976.56
13481  13481  2331.41
13482  13482  2910.38
13483  13483  2113.32
13484  13484   824.77

[13485 rows x 2 columns]

In [19]:
export = final_prediction.to_csv('./../data/one_hot_robust_RF_no_cities_operations_3.csv', index=False)

In [20]:
pd.read_csv('./../data/one_hot_robust_RF_no_cities_operations_3.csv').head()

   id    price
0   0  3072.29
1   1  5386.83
2   2  9603.06
3   3  4231.37
4   4  1727.85